{% extends 'admin.html' %}

{% block title %} Supprimer un évènement {% endblock %}
{% block content %}
<br>
<h1>Veuillez remplir ces champs pour supprimer un évènement.</h1>

    {% if message=='error'%}
      <p class="alert alert-danger">Tous les champs doivent être remplie.</p>
    
    {% elif message=='failure' %}
      <p class="alert alert-warning">Une erreur est survenue lors de l'eradication de l'évènement,
       veuillez vous assurer que tout les information sont exacte.
      </p>
    
    {% elif message=='success' %}
     <p class="alert alert-success">L'évènement avec l'identification {{evenement.id_evenement}} a bien été suprime !</p>
    {% endif %}

    <form action="{{url_for('delete_event')}}" method="post" class = "container">
     
        <div class="form-floating mb-3">
          <input  name = 'id_evenement' type="text" class="form-control" id="Id_evenement" placeholder="">
          <label for="id_evenement">ID de l'evenement</label>
        </div>
        
      <input type="submit" value="Delete" class = "btn btn-success">
  </form>
    
{% endblock %}