{% extends 'default.html' %}

{% block title %} Evenements {% endblock %}
{% block content %}


<h1>Bienvenue sur la page des évènements</h1>


    
    <table class="table table-success table-striped">
        <thead>
                <tr>
                  
                  <th scope="col">Nom</th>
                  <th scope="col">Date</th>
                  <th scope="col">Emplacement</th>
                  <th scope="col">Prix</th>
                  <th scope="col">ID de l'evenement</th>
                </tr>
              
        </thead>
        <tbody>
            {% for evenement in evenements %}

                <tr>
                    <td>{{evenement[0]}}</td>
                    <td>{{evenement[1]}}</td>
                    <td>{{evenement[2]}}</td>
                    <td>{{evenement[3]}}</td>
                    <td>{{evenement[4]}}</td>
                   
                    
                </tr>
            {%endfor %}
           
        </tbody>
      </table>


{% endblock %}