{% extends 'default.html' %}

{% block title %}  {% endblock %}
{% block content %}
<br>

<h1>Veuillez remplir ces champs pour supprimer une reservation.</h1>

    {% if message=='error'%}
      <p class="alert alert-danger">Tous les champs doivent être remplie.</p>
    
    {% elif message=='failure' %}
      <p class="alert alert-warning">Une erreur est survenue lors de l'erradication de la reservation,
       veuillez vous assurer que tout les information sont exacte.</p>
    
    {% elif message=='success' %}
     <p class="alert alert-success">L'évènement {{reservation.nom}} a bien été suprimé !</p>
    {% endif %}

<form action="{{url_for('add_event')}}" method="post" class = "container">
    
      <div class="form-floating mb-3">
        <input  name = 'id_reservation' type="text" class="form-control" id="id_reservation" placeholder="">
        <label for="id_reservation">ID de la reservation</label>
      </div>
      <div class="form-floating mb-3">
        <input  name = 'id_user' type="text" class="form-control" id="id_user" placeholder="">
        <label for="id_user">ID de l'utilisateur</label>
      </div>
      
    <input type="submit" value="Delete" class = "btn btn-success">
</form>

{% endblock %}