{% extends 'default.html' %}

{% block title %}  {% endblock %}
{% block content %}
<br>


<h1>Veuillez remplir ces champs pour réserver.</h1>

    {% if message=='error'%}
      <p class="alert alert-danger">Tous les champs doivent être remplie.</p>
    
    {% elif message=='failure' %}
      <p class="alert alert-warning">Une erreur est survenue lors de la réservation,
       veuillez vous assurer que tout les information sont exacte.
      </p>
    
    {% elif message=='success' %}
     <p class="alert alert-success"> {{reservation.nom}}  avec identification {{reservation.id_reservation}} a été réserver!</p>
    {% endif %}

<form action="{{url_for('reservations')}}" method="post" class = "container">
    <div class="form-floating mb-3">
        <input name = 'nom' type="text" class="form-control" id="Nom" placeholder="">
        <label for="nom">Nom de l'activité</label>
      </div>
      <div class="form-floating mb-3">
        <input name = 'date' type="text" class="form-control" id="Date" placeholder="">
        <label for="date">Year-Month-Date</label>
      </div>
      <div class="form-floating mb-3">
        <input  name='place' type="text" class="form-control" id="Place" placeholder="">
        <label for="place">Nombre de place</label>
      </div>
      <div class="form-floating mb-3">
        <input name='id_evenement' type="text" class="form-control" id="Id_evenement" placeholder="">
        <label for="id_evenement">Id de l'évènement</label>
    </div>
      <div class="form-floating mb-3">
        <input name='id_user' type="text" class="form-control" id="Id_user" placeholder="">
        <label for="id_user">Id de l'utilisateur</label>
    </div>
    <input type="submit" value="Réserver" class = "btn btn-success">
</form>

{% endblock %}
   

