.container {
    max-width: 800px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    /* Centrer la boîte dans la fenêtre */
}

.title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.menu {
    text-align: center;
}

.menu a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #0056b3;
}