{% extends 'default.html' %}
{% block title %} Accueil. {% endblock %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-image: url('static/images/img_lights.jpg');
        /* Chemin relatif vers votre image de fond */
        background-size: cover;
        /* Ajuster la taille de l'image de fond pour couvrir l'ensemble de la fenêtre */
    }

   
</style>

{% block content %}
    {% if session%}

        <h1>Bienvenue, {{session['nom_complet']}}</h1>
        <p>Vous êtes sur votre compte</p>


        
    {% endif %}  


<h1></h1>

{% endblock %}