{% extends 'default.html' %}

{% block title %} Ajout d'utilisateur {% endblock %}
{% block content %}

<h1>Veuillez remplir ces champs pour ajouter un utilisateur</h1>

    {% if message=='error'%}
      <p class="alert alert-danger">Tous les champs doivent être remplie.</p>
    
    {% elif message=='failure' %}
      <p class="alert alert-warning">Une erreur est survenue lors de l'ajout de l'utilisateur,
       veuillez vous assurer que tout les information sont exacte.
      </p>
    
    {% elif message=='success' %}
     <p class="alert alert-success">L'utilisateur au matricule {{user.nom_complet}} a bien été ajouté !</p>
    {% endif %}

<form action="{{url_for('add_user')}}" method="post" class = "container">
    <div class="form-floating mb-3">
        <input name = 'nom_complet' type="text" class="form-control" id="Nom_complet" placeholder="">
        <label for="nom_complet">Nom complet</label>
      </div>
      <div class="form-floating mb-3">
        <input name = 'username' type="text" class="form-control" id="Username" placeholder="">
        <label for="username">Username</label>
      </div>
      <div class="form-floating mb-3">
        <input  name='password' type="text" class="form-control" id="Password" placeholder="">
        <label for="password">Password</label>
      </div>
      <div class="form-floating mb-3">
        <input  name = 'type' type="text" class="form-control" id="Type" placeholder="">
        <label for="type">Type</label>
      </div>
      <div class="form-floating mb-3">
        <input name='id' type="text" class="form-control" id="ID" placeholder="">
        <label for="id">ID</label>
    </div>
    <input type="submit" value="Submit" class = "btn btn-success">
</form>

{% endblock %}