{% extends 'default.html' %}
{% block title %} Confirmation {% endblock %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-image: url('static/images/img_lights.jpg');
        /* Chemin relatif vers votre image de fond */
        background-size: cover;
        /* Ajuster la taille de l'image de fond pour couvrir l'ensemble de la fenêtre */
    }

   
</style>

{% block content %}
   
    <h1>Confirmation de réservation</h1>
    <p>Merci, {{user.nom_complet }}, votre réservation pour l'activité {{evenement.nom}} le {{evenement.date}} a été confirmée.</p>
    <p>Un email de confirmation a été envoyé à {{user.email}}.</p>

</body>

{% endblock %}