{% extends 'default.html' %}

{% block title %} Evenements {% endblock %}
{% block content %}

<h1>Bienvenue sur la page des évènements</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Évenements</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class ="container">
    
    <table class="table table-success table-striped">
        <thead>
                <tr>
                  
                  <th scope="col">Nom</th>
                  <th scope="col">Date</th>
                  <th scope="col">Emplacement</th>
                  <th scope="col">Prix</th>
                  <th scope="col">ID</th>
                </tr>
              
        </thead>
        <tbody>
            {% for evenement in evenements %}

                <tr>
                    <td>{{evenement[0]}}</td>
                    <td>{{evenement[1]}}</td>
                    <td>{{evenement[2]}}</td>
                    <td>{{evenement[3]}}</td>
                    <td>{{evenement[4]}}</td>
                   
                    
                </tr>
            {%endfor %}
           
        </tbody>
      </table>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
     
      </table>
    </body>
</html>

{% endblock %}