{% extends 'default.html' %}
{% block title %} page d'accueil. {% endblock %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-image: url('static/images/img_lights.jpg');
        /* Chemin relatif vers votre image de fond */
        background-size: cover;
        /* Ajuster la taille de l'image de fond pour couvrir l'ensemble de la fenêtre */
    }

   
</style>
{% block content %}

<h1>Activités sportives.com est un site web ou vous pouvez selectionner une panoplie d'activité pour group ou seul.</h1>

{% endblock %}