{% extends 'default.html' %}

{% block title %} Paiement {% endblock %}
{% block content %}
<br>

<h1>Veuillez remplir ces champs pour payer.</h1>

    {% if message=='error'%}
      <p class="alert alert-danger">Tous les champs doivent être remplie.</p>
    
    {% elif message=='failure' %}
      <p class="alert alert-warning">Une erreur est survenue lors du paiement,
       veuillez vous assurer que tout les information sont exacte.</p>
    
    {% elif message=='success' %}
     <p class="alert alert-success">Le paiement pour la réservation {{reservation.id_reservation}} s'est bien effectué !</p>
    {% endif %}

    <style>
        /* Style pour centrer le formulaire */
        .center-div {
            margin: 0 auto; /* Marge automatique sur les côtés pour centrer le contenu */
            max-width: 400px; /* Largeur maximale du formulaire */
        }

        /* Style pour l'image de fond */
        body {
            background-image: url(Static/images/avion-voyager-plane-scaled-e1652808397530.jpg); 
            background-size: cover; 
            background-position: center; 
            height: 100vh; 
            margin: 0; 
            padding: 0; 
        }
    </style>
<form action="{{url_for('paiement')}}" method="post" class = "container">
    <div class="form-floating mb-3">
        <input name = 'montant' type="text" class="form-control" id="Montant" placeholder="">
        <label for="montant">Montant </label>
      </div>
      <div class="form-floating mb-3">
        <input  name='mode_paiement' type="text" class="form-control" id="Mode_paiement" placeholder="">
        <label for="mode_paiement">Mode de paiement</label>
      </div>
      <div class="form-floating mb-3">
        <input  name='numero_carte' type="text" class="form-control" id="Numero_carte" placeholder="">
        <label for="numero_carte">Numero de la carte</label>
      </div>
      <div class="form-floating mb-3">
        <input name = 'date_expiration' type="text" class="form-control" id="Date_expiration" placeholder="">
        <label for="date_expiration">Year-Month-Date</label>
      </div>
      <div class="form-floating mb-3">
        <input  name='cvv' type="number" class="form-control" id="CVV" placeholder="">
        <label for="cvv">cvv</label>
      </div>
      
    <input type="submit" value="Payer" class = "btn btn-success">
</form>

{% endblock %}
