{% extends 'default.html' %}
{% block title %} Reservations {% endblock %}
{% block content %}

<h1>Bienvenue, {{session['nom_complet']}}</h1>

    <h1>Activité sportif</h1>
        <form action="/reservations" method="post">
            <label for="nom">Nom:</label><br>
            <input type="nom" id="nom" name="nom"><br><br>
            <label for="date">Date:</label><br>
            <input type="date" id="date" name="email"><br><br>
            <label for="statut">Statut:</label><br>
            <input type="statut" id="statut" name="date"><br><br>
            <input type="submit" value="Réserver">
        </form>



{% endblock %}
   

